build_python/
build_python_deep/
build_wasm/
example_wasm/cpp_sdk.wasm
example_wasm/cpp_sdk.js

.venv/
dist/
node_modules/
package-lock.json

lattica_fhe_core/cpp_sdk.cpython-*-*-*.so
lattica_fhe_core_deep/cpp_sdk_with_deep_binding.cpython-*-*-*.so
lattica_fhe_core/libsodium.so*
libsodium/libsodium-1.0.20/autom4te.cache/requests